/* ------------------------------------------------------------ *\
	Testimonial
\* ------------------------------------------------------------ */

.testimonial { text-align: center; color: #fff; }
.testimonial h2 { line-height: 1; text-transform: uppercase; margin: 29px 0 0; letter-spacing: 0.025em; }
.testimonial h4 { margin: 25px 0 0; text-transform: uppercase; }
