/* ------------------------------------------------------------ *\
	Services
\* ------------------------------------------------------------ */

.services { padding: 79px 0;  }
.services .services__inner { display: flex; flex-wrap: wrap; margin:  0 -20px -40px; padding-bottom: 19px;  }
.services .services__inner .service-container { padding: 0 20px 40px; flex: 0 0 50%; max-width: 50%; }

$breakpoint-mobile {
	.services { padding: 38px 0 79px; }
	.services .services__inner { display: block; }
	.services .services__inner .service-container { padding: 0; max-width: 100%; }
	.services .services__inner .service-container + .service-container { margin-top: 40px; }
}


/* ------------------------------------------------------------ *\
	Service
\* ------------------------------------------------------------ */

.service { background: #f0f7f7; position: relative; border-top: 13px solid #40bdac; border-radius: 10px; color: #40bdac; transition: box-shadow .4s; }
.service:hover { box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15); }
.service > a { display: block; position: relative; min-height: 320px; }
.service a { text-decoration: none; }
.service h5 { font-weight: 700; text-transform: uppercase; margin-bottom: 28px; }
.service h2 { font-size: 38px; line-height: 0.95; text-transform: uppercase; }
.service h3 { font-size: 60px; font-family: 'Knockout', sans-serif; font-weight: 500; margin-bottom: 7px; }

.service .service__aside { position: absolute; top: 50%; right: 0; width: 322px; text-align: center; transform: translateY(-50%); }
.service .service__aside:after { content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 100%; background: #d7dddd;   }
.service .service__aside img { max-width: 107px; display: block; margin: 20px auto 17px;  }
.service .service__aside p { font-weight: 600; color: #464646; font-size: 16px; line-height: 1.25; margin-bottom: 23px;  }
.service .service__aside img + p { margin: 0; }

.service .service__body { padding: 33px 350px 20px 40px;  }
.service .service__body img { position: absolute; bottom: 40px; left: 40px; }

.service + .service { margin-top: 20px; }

/*  Service Pink  */
.service--pink { border-color: #ef4689; color: #ef4689; }

/*  Service Yellow  */
.service--yellow { border-color: #fbc649; color: #fbc649; }

/*  Service Primary  */
.service--primary > a { min-height: 0; padding: 33px 38px 37px; }

.service--primary .service__aside { width: 100%; position: relative; transform: translateY(0); top: 0; left: 0; margin-top: 29px; padding-top: 35px; text-align: left; }
.service--primary .service__aside:after { width: 100%; height: 1px; top: 0; width: 100%; transform: translateX(0);  }
.service--primary .service__aside p { display: inline-block; text-align: center; }
.service--primary .service__aside .service__aside-content { position: absolute; top: 40px; right: -8px; text-align: center; }

.service--primary .service__body { position: relative; padding: 0; min-height: 253px; margin: 0; }
.service--primary .service__body img { bottom: -8px; left: 0; }

/*  Sertvice Primary ALt  */
.service--primary-alt { text-align: center; }
.service--primary-alt h3 { font-size: 38px; text-transform: uppercase; margin-bottom: 30px; }
.service--primary-alt p { font-weight: 600; color: #464646; font-size: 16px; margin-bottom: 9px; }
.service--primary-alt h2 { font-size: 60px; margin-bottom: 7px; }
.service--primary-alt h6 { font-weight: 600; text-transform: uppercase; margin-bottom: 35px; }
.service--primary-alt .btn { min-width: 314px; }




$breakpoint-tablet-portrait {
	/*  Service Primary  */
	.service--primary > a {  }
	.service--primary .service__body { min-height: 350px; }
	.service--primary .service__aside { text-align: center; }
	.service--primary .service__aside .service__aside-content { position: static;  }
}

$breakpoint-mobile {
	.service { text-align: center; }	
	.service h2 { margin-bottom: 46px; padding: 0 20px;  }	
	.service .service__aside { position: relative; top: 0; transform: translateY(0); width: 100%; margin: 7px 0 0; padding-top: 34px; padding-bottom: 36px; }	
	.service .service__aside:after { width: 79%; height: 1px; top: 0; left: 50%; transform: translateX(-50%); }	
	
	.service .service__body { padding: 33px 20px; }	
	.service .service__body br { display: none; }	
	.service .service__body img { position: static; }	
	.service + .service { margin: 40px 0 0;  }	

	/*  Service Primary  */
	.service--primary > a { padding: 0; }
	.service--primary .service__body { min-height: 0; }

	.service--primary-alt .btn { min-width: 0; width: 100%; }
}
